<% 
var data = jsonData;
var common = commonData;
console.log(data);
console.log(common);
%><!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= data.name %></title>
</head>
<body>
<%= data.id %>ページだよ。<br>
<% for(var i = 0; i < data.content.length; i++) { %>
  <%= data.content[i].title %> <br>
  <%= data.content[i].text %> <br>
<% } %>
ここからは共有だよ。<br>
<%= common.copyright %> <br>
<%= common.company %> <br>
</body>
</html>
